<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>PROVA App</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script> 
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> -->


    <!--  SCRIPT  -->
    <script type="text/javascript">

        angular.module('myApp', [])
          .controller('userCtrl', function($scope, $http) {

            // $scope.users = [{fName:'pippo', lName:'pluto'}];

            $http.get('/users').
                success(function(data, status, headers, config) {
                    // this callback will be called asynchronously
                    // when the response is available
                    $scope.users = data;
                }).
                error(function(data, status, headers, config) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                });

          });

    </script>


</head>
<body ng-controller="userCtrl">
    <div class="navbar-inner">
        <a class="brand" href="#">Prova nodejs(rest e web) + jquery</a>
    </div>
    <div id="main" class="container">

        <h3>Users</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Administrator</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>
                        <button class="btn" ng-click="editUser(user.id)">
                            <span class="glyphicon glyphicon-pencil"></span>  Edit
                        </button>
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>
                        <label ng-show="user.admin" class="glyphicon glyphicon-ok"></label>
                        <label ng-hide="user.admin" class="glyphicon glyphicon-remove"></label>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    
    <div id="detail" class="container">
        <hr>
            <button class="btn btn-success" ng-click="editUser('new')">
                <span class="glyphicon glyphicon-user"></span>  Create New User
            </button>
        <hr>

        <h3 ng-show="edit">Create New User:</h3>
        <h3 ng-hide="edit">Edit User:</h3>

        <!--  FORM NEW USER -->
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="passw1" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Repeat:</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="passw2" placeholder="Repeat Password">
                </div>
          </div>
        </form>

        <hr>
        <button class="btn btn-success" ng-disabled="error || incomplete">
            <span class="glyphicon glyphicon-save"></span>  Save Changes
        </button>
    </div>



</body>
</html>
